// FOOTER STYLES
footer {
  padding: 40px;
  text-align: left;
  background: $dark-grey;
  color: $light-color;

  display: flex;
  flex-direction: column;

  .footer-nav-bar {
    ul {
      padding-left: 0;
    }

    li {
      padding: 15px 10px;
      font-weight: 600;
      a {
        color: $light-grey;
      }
    }
  }

  p {
    text-align: center;
    margin-top: 20px;
    font-size: 1.3rem;
    font-weight: 400;
    letter-spacing: 0.02rem;
    color: $light-grey;
    opacity: 0.6;
  }
}