//FONTS
$base-font: 'Open Sans', sans-serif;

// COLORS

$accent-color: #FEEA55;

$dark-color: #000;

$light-color: #FFF;

$light-grey: #ECEDEE;

$medium-grey: rgb(182, 182, 182);

$dark-grey: #2C3031;

